@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/*--------------------Section IMG --------------------*/

section img {
    width: 400px;
    height: 600px;
}

.container-animals-img{
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

img {
    margin-left: 20px;
}
body{
    background-color: rgb(187, 184, 184);
    font-family: 'Roboto', sans-serif;
}
/*-----------------Header-----------------*/

header {
    background-color: #42a5f5;
    
    
}
header {
    color: #0d47a1;
    font-size: 45px;
    text-align: center;
    margin-top: -10px;
    width: 100%;
}

h1 {
    padding-top: 20px;
}
 

header{
    background-color: rgb(36, 226, 36);
}

a:visited {
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    height: 48px;
    background-color: #bbdefb;
}
/*-------------Main--------------*/

