body {
    background-color: #90caf9;
}

/*-----------------Header-----------------*/
header {
    background-color: #42a5f5;
    
    
}
header {
    color: #0d47a1;
    font-size: 45px;
    text-align: center;
    margin-top: -10px;
    width: 100%;
}

h1 {
    padding-top: 20px;
}
.icon-container {
    margin-top: -50px;
    text-align: center;
    font-size: 60px;  
}
i {
    margin-left: 30px;
    margin-right: 30px;
}
i:hover {
    color: blueviolet;
}
a:visited {
    color: black;
}